#plus {
    background-color: blue;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
body {
    color: black;
}
.tesks {
    /* display: flex;
    margin-left: 20vh;
    margin-right: 20%;
    border-radius: 8%;
    justify-content: center;
    background-color:#21212B;
    color: #9D9DA3;
    height: 40px;
    font-family: 'Roboto', sans-serif; */
    display: block;
    height: 20px;
    width: 20px;
    border: 3px #FC76A1 solid;
    background-color:#21212B ;
    border-radius: 20%;
    cursor: pointer;
    position: relative;
    transition: 0.3s all;
}
#click {
    justify-content: center;
    background-color: pink;
}
#click:checked+ .tesks {
background:#FC76A1;
}
#click:checked+ .tesks::before {
    content: "";
    height: 2px;
    width: 5px;
    background:#21212B ;
    position: absolute;
    transform: rotate(40deg);
    top: 12px;
    left: 5px;
}
#click:checked+ .tesks::after {
    content:"";
    height: 2px;
    width: 13px;
    background: #21212B;
    position: absolute;
    transform: rotate(125deg);
    top: 10px;
    left: 7px;
}

#title {
    background-color: #181820;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    border-radius: 15%;
    height: 60px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.hidden {
    display: none;
}
.menu {
    justify-content: center;
    background-color: gray;

}
.menu::after {
    content:"";
    height: 4px;
    width: 5px;
    background-color: #181820;
    position: absolute;
}
#picture {
    display: none;
}