.lipon {
    color:black;
    font-size: 35px;
    background-color:red;

}
.lipon1 {
    color:black;
    font-size: 35px;
    background-color:red;
}
.lipon2 {
    color:black;
    font-size: 35px;
    background-color:red;
}
.lipon3 {
    color:black;
    font-size: 35px;
    background-color: blue;
}
.lipon4 {
    color:black;
    font-size: 35px;
    background-color: blue;
}
.lipon5 {
    color:black;
    font-size: 35px;
    background-color: blue;
}
.lipon6 {
    color:black;
    font-size: 35px;
    background-color: blue;
}
.lipon7 {
    color:black;
    font-size: 35px;
    background-color: blue;
}
.lipon8 {
    color:black;
    font-size: 35px;
    background-color: blueviolet;
}
#lipon9 {
    color:orangered;
    font-size: 35px;
    background-color: chartreuse;
}